/* You can add global styles to this file, and also import other style files */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
};

footer {
    position:absolute;
    background:black;
    bottom:0;
    height:5rem;
    width:100%;
}
